<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-inline">
                <li><p style="text-align:center"><a ui-sref="admin.admins"><i class="fa fa-desktop fa-4x"></i></a><br />Admins</p></li>

                <li><p style="text-align:center"><a ui-sref="admin.users"><i class="fa fa-users fa-4x"></i></a><br />Users</p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.series"><i class="fa fa-gamepad fa-4x"></i><br />Games</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="create-contest.html"><i class="fa fa-bolt fa-4x" fa-4x"></i><br />Create Contest</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="pick5.html"><span style="font-size:42px;">5</span><br />Pick 5 Edit</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="horse_results.html"><img src="/images/icons/horse_icon.png" style="width: 35%" /><br />Horse Results</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="cateories.html"><i class="fa fa-sitemap fa-4x"></i><br />Categories</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="email_template.html"><i class="fa fa-envelope fa-4x"></i><br />Email Templates</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="mail_stats.html"><i class="fa fa-pie-chart fa-4x"></i><br />Mail Stats</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.bonuses"><i class="fa fa-diamond fa-4x"></i><br />Promotions</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.settings"><i class="fa fa-cogs fa-4x"></i><br />Settings</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.masterlist"><i class="fa fa-list-alt fa-4x"></i><br />Players List</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.tracker"><i class="fa fa-binoculars fa-4x"></i><br />Tracker</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.alerts"><i class="fa fa-bullhorn fa-4x"></i><br />Alerts</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.security"><i class="fa fa-shield fa-4x"></i><br />Security</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.transmonitor"><i class="fa fa-eye fa-4x"></i><br />Monitor</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.diagnostics"><i class="fa fa-heartbeat fa-4x"></i><br />Diagnostics</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.whitepaper"><i class="fa fa-file-o fa-4x"></i><br />Whitepapers</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.autoemails"><i class="fa fa-line-chart fa-4x"></i><br />Marketing</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.reports"><i class="fa fa-file-text-o fa-4x"></i><br />Reports</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.messages"><i class="fa fa-envelope-o fa-4x"></i><br />Messages</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.media"><i class="fa fa-youtube-play fa-4x"></i><br />Media</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.links"><i class="fa fa-link fa-4x"></i><br />SD Links</a></p></li>
                
                <li><p style="text-align:center"><a ui-sref="admin.logout"><i class="fa fa-power-off fa-4x"></i><br />Logout</a></p></li>
            </ul>
        </div>
    </div>
</div>
