<!-- Wrapper-->
<div id="wrapper wrapper-content">
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Admins</h2>
            <ol class="breadcrumb">
                <li>
                    <a ui-sref="/admin">Admin</a>
                </li>
                <li class="active">
                    <strong>Email Manager</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content">
        <div class="animated fadeInRight" >
            <div class="row">
                <div class="col-lg-12">
                    <div id="EmailtemplateContainer">
                        <p class="title">Auto-Email Config</p>
                    </div>
                    <div id="EmailtemplateContent">
                        <div id="ErrorMessage"><span ng-bind="vm.errorMsg"></span></div>
                        <div id="SuccessMessage"><span ng-bind="vm.successMsg"></span></div>
                        <table cellpadding="0" cellspacing="0" id="MulticontentTable">
                            <thead>
                                <tr><th>#</th><th>Word 1</th><th>Word 2</th><th>in Days</th><th>Enable</th><th>Token</th><th class="{PERMISSION_GRADE}">Options</th></tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="email in vm.emails">
                                    <td ng-bind="email.number"><strong>{NUMBER}</strong></td>
                                    <td ng-bind="email.reservedWord1"><strong>{RESERVEDWORD1}</strong></td>
                                    <td ng-bind="email.reservedWord2"><strong>{RESERVEDWORD2}</strong></td>
                                    <td ng-bind="email.cycle"><b>{CYCLE}</b></td>
                                    <td><a ng-click="vm.enableEmail(email)"><i ng-if="email.enabled" class="fa fa-check-circle"></i><i ng-if="!email.enabled" class="fa fa-check-circle-o"></i></a></td>
                                    <td ng-bind="email.token"><strong>{TOKEN}</strong></td>
                                    <td>
                                        <a ng-show="vm.creds.canEdit" ng-click="vm.editEmail(email)"><i class="fa fa-edit"></i></a>
                                        <a ng-show="vm.creds.canDelete" ng-click="vm.deleteEmail(email)"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>

                            </tbody>
                            <tfoot ng-show="vm.creds.canEdit">
                                <tr>
                                    <td colspan="4">
                                        <table>
                                            <tr>
                                                <td><span>Token:</span><span><input type="text" name="token" size="30" /></span></td>
                                                <td><span>Days:</span><span><input type="text" name="days" size="30" /></span></td>
                                                <td><a ng-click="vm.addEmail()"><i class="fa fa-plus"></i></a><input type="image" src="{IMAGE_PATH}/addicon.png" title="Add" name="SubmitButton" /></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
